body{

    background-image: url(../img/background_bike.png);
    background-attachment: fixed;
    background-size: cover;

}



.title{

    text-align: center;
    font-size: 50px;
    font-family: "Magneto";
    color: rgb(253, 227, 214);

}

#navegacion li a{
    padding: 2px 7px 2px 7px;
    font-family: "verdana";
    color: rgb(255, 54, 88);

    background-color: rgb(255, 54, 88);
    border: 2px solid rgb(255, 221, 109);
    border-radius: 12px;
    text-align: center;
    text-decoration: none;

}

